/* reset.css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* width = border */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* settings, helpers */
* {
  font-family: Helvetica, Arial, Sans-serif;
}

.none {
  display: none !important;
}

/* header */

header {
  background-color: #F4F1EA;
}

.header {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 1em
}

.header > h1 {
  font-weight: bold;
  font-size: 2em;
}

#new {
  background-color: white;
  border-radius: 5px;
  padding: 2px
}

/* main */
main {
  margin: 0 auto;
  max-width: 1200px;
}

/* form */
#form {
  float: right;
}

form {
  padding: 1em;
  background-color: #EEE;
}

form > * {
  margin: 2px;
}

.new-book-btn {
  background-color: #ede6d6;
  border-radius: 5px;
}

#close {
  background-color: red;
  border-radius: 5px;
  border-color: #f33 #d00 #d00 #f33
}

/* books */
table {
  clear: right;
  width: 90%;
  margin: 1em auto
}

th {
  font-weight: bold;
  padding: 1em
}

tr:nth-child(even) {
  background-color: #DDD;
}

td {
  word-break: break-all;
  padding: 0.5em;
}

/* read */
.read {
  background-color: #0F0;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.not-read {
  background-color: #F00;
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 2px;
}

/* remove button */
.remove {
  background-color: #FFF;
  border-radius: 5px
}
